.idea
*.iml
*.class
.gradle

#MacOS
.DS_Store

/target
/build
/out

# Eclipse IDE files
.classpath
.project
.settings/

# Logs and binaries
log/
bin/
tmp/
*.log

# Cache and index files
.metadata/
*.tmp
*.bak
*.swp